@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

body {
  background-image: url('./Base/bg.jpg');
  color: white;
  font-size: 16px;
  font-family:  'kanit', sans-sarif ;
}
