.button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 172px;
    height: 44px;
    border-radius: 38px;
    
  }
  
  .button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  